<h1> Edit Timesheet </h1>

<form>
	<div>
		Employee: <input name="employee" />
	</div>
	<div>
		Pay Period: <input name="pay_period" />
	</div>

	<div class='work_entry'>
			<input name="project" />
			<input name="start_time" />
			<input name="end_time" />
	</div>

</form>
